img{
    width: 700px;
}
@media(max-width: 450px) {
    body{
        background-color: aqua;
    }

    img{
        width: 200px;
    }

    img:hover {
        border: 1px solid black;
        border-radius: 5px;
        box-shadow: 10px 10px 10px black;
    }
}

@media(min-width: 452px) {
    body{
        background-color: blue;
    }

    img{
        width: 800px;
    }

    img:hover{
        box-shadow: 10px 10px 10px white;
        border-radius: 5px 5px 5px white;
        
    }
}
  
       