body{
    background-color: #9ED1B7;
    font-family: "Roboto Mono", monospace;
}

h1{
    font-size: 100px ;
    text-shadow: 10px 5px 5px blue;
}

p{
    font-size: 25px;
    font-weight: 500px;
    line-height: 50px;
    text-shadow: 10px 5px 10px blue;
    
}
img{
    height: 500%;
    width: 50%;
    box-shadow: 10px 5px 10px blue;
}
